@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.eot");
  src: url("../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.svg");
  src: url("../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.ttf");
  src: url("../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.woff"); }
@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/font-family/HelveticaNeueCyr-Roman.otf"); }
[id^='button'] {
  outline: none; }

@media (min-width: 768px) {
  hr {
    margin-top: 0;
    color: white; }

  button {
    border: 0;
    margin: 0;
    padding: 0;
    background: 0; }

  .blockBanner {
    vertical-align: middle;
    background-image: url(../img/bg.png);
    background-size: cover;
    margin-bottom: 50px;
    color: white;
    text-align: center; }
    .blockBanner h1 {
      font-weight: 700;
      margin-top: 235px;
      font-size: 72px; }
    .blockBanner h2 {
      font-size: 46px;
      font-weight: 500;
      margin-top: 50px; }
    .blockBanner h4 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 114px; }

  .progress {
    margin-top: 70px;
    margin-bottom: 70px;
    background: white;
    height: 50px;
    border-radius: 50px; }

  .imgBox {
    display: inline-block; }

  .col-lg-6.pic-txt .imgBox {
    margin-bottom: 30px; }
  .col-lg-6.pic-txt h4 {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 15px;
    text-align: justify;
    display: inline-block;
    width: 80%; }

  .blockPreupload h2 {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 46px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
    vertical-align: middle;
    color: black;
    text-align: center; }
  .blockPreupload h3 {
    padding-left: 17%;
    padding-right: 17%;
    font-size: 36px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
    color: black;
    text-align: center; }
  .blockPreupload h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    color: #333;
    text-align: left; }

  .flexGlyph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    margin-top: 130px; }
    .flexGlyph button {
      border: 3px solid white;
      border-radius: 60px;
      margin: 0;
      padding: 18px 20px 18px 20px;
      background: 0; }

  .flexGlyph2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px; }
    .flexGlyph2 button {
      border: 3px solid #3498db;
      border-radius: 60px;
      margin: 0;
      padding: 18px 20px 18px 20px;
      background: 0; }
    .flexGlyph2 span {
      color: #3498db; }

  .glyphicon {
    font-size: 25px;
    color: white; }

  .FYI {
    margin-bottom: 70px;
    padding-left: 30px;
    border: 2px solid white;
    vertical-align: middle;
    color: white;
    text-align: left; }
    .FYI h3 {
      margin-left: 0;
      font-size: 30px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px; }
    .FYI h5 {
      font-size: 18px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 20px; }
    .FYI li {
      list-style-type: none;
      font-size: 16px;
      font-weight: 400;
      vertical-align: middle;
      color: white;
      text-align: left; }
    .FYI ul {
      padding-left: 0; }

  .flex_rules {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }

  .row.warning h6 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 50px;
    vertical-align: middle;
    color: white;
    text-align: center; }
  .row.warning h5 {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
    margin-bottom: 50px;
    color: white;
    text-align: left; }
  .row.warning h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: 40px;
    vertical-align: middle;
    color: white;
    text-align: left; }

  .formUpload {
    padding-right: 6%;
    padding-left: 6%;
    background-color: #3498db; }
    .formUpload input {
      color: black;
      width: 100%;
      height: 50px;
      font-size: 10px;
      font-weight: bold;
      padding-left: 30px; }
      .formUpload input::-webkit-input-placeholder, .formUpload input::-moz-placeholder, .formUpload input:-moz-placeholder, .formUpload input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
        font-size: 10px; }
      .formUpload input:focus::-webkit-input-placeholder, .formUpload input:focus::-moz-placeholder, .formUpload input:focus:-moz-placeholder, .formUpload input:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease; }
    .formUpload p {
      margin-bottom: 15px;
      margin-top: 36px;
      width: 97px;
      height: 20px;
      color: white;
      font-size: 22px;
      font-weight: 500; }
    .formUpload button {
      margin-top: 71px;
      width: 100%;
      height: 50px;
      background-color: yellow;
      border-radius: 25px; }
    .formUpload #fileupload {
      display: none; }
    .formUpload label {
      width: 100%; }
      .formUpload label .browse {
        background: white;
        color: #757575;
        width: 100%;
        height: 50px;
        font-size: 10px;
        font-weight: bold;
        padding-left: 30px;
        padding-top: 18px; }

  .blockCarouselle {
    vertical-align: middle;
    background: #3498db;
    background-size: cover;
    color: white; }
    .blockCarouselle h2 {
      font-size: 48px;
      font-weight: 700;
      margin-top: 100px;
      text-align: center; }
    .blockCarouselle h4 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 50px;
      text-align: left; }

  .blockOpportunities {
    vertical-align: middle;
    background: #283140;
    background-size: cover;
    color: white; }
    .blockOpportunities h5 {
      vertical-align: top;
      margin-top: 100px;
      padding-left: 40px;
      display: inline-block;
      width: 80%;
      text-align: left;
      font-size: 24px;
      font-weight: 400; }
    .blockOpportunities h2 {
      margin-top: 100px;
      text-align: center;
      font-size: 48px;
      font-weight: 700; }
    .blockOpportunities .imgBox {
      vertical-align: top;
      margin-top: 100px; }

  .blockFeatures {
    background: #f9f9f9;
    background-size: cover; }
    .blockFeatures img {
      margin-left: 10px;
      margin-top: 100px;
      display: inline-block;
      float: left; }
    .blockFeatures h2 {
      margin-top: 100px;
      text-align: center;
      color: black;
      font-size: 48px;
      font-weight: 700; }
    .blockFeatures h4 {
      margin-top: 100px;
      vertical-align: top;
      padding-left: 30px;
      display: inline-block;
      width: 60%;
      text-align: left;
      color: black;
      font-size: 18px;
      font-weight: 400; }

  .blockAutomation {
    vertical-align: middle;
    background-image: url(../img/bg-image.png);
    background-size: cover; }
    .blockAutomation h2 {
      margin-top: 260px;
      margin-bottom: 260px;
      text-align: center;
      color: white;
      font-size: 48px;
      font-weight: 700; }

  .blockHowto h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: black;
    font-size: 48px;
    font-weight: 700; }
  .blockHowto h4 {
    margin-top: 60px;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 400; }

  .blockHowtoPic {
    text-align: center; }

  .blockGreyForm {
    vertical-align: middle;
    background: #f9f9f9;
    background-size: cover; }

  footer {
    vertical-align: middle;
    background-color: #283140;
    background-size: cover; }
    footer h1 {
      margin-top: 100px;
      text-align: center;
      color: white;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 100px; }
    footer h2 {
      margin-top: 50px;
      text-align: center;
      color: white;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: -10px; }
    footer h3 {
      text-align: left;
      color: white;
      font-size: 48px;
      font-weight: 700; }
    footer h4 {
      display: inline-block;
      margin-top: 50px;
      text-align: left;
      color: white;
      font-size: 24px;
      font-weight: 400; }
    footer h5 {
      margin-bottom: 100px;
      text-align: left;
      color: white;
      font-size: 18px;
      font-weight: 700; }
    footer p {
      margin-top: 30px;
      text-align: left;
      color: white;
      font-size: 30px;
      font-weight: 400; }
    footer button {
      width: 45%;
      text-decoration: none;
      height: 50px;
      background-color: #D3D3D3;
      border: 1px solid #D3D3D3;
      border-radius: 50px;
      margin-right: 0;
      margin-left: 20px;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 20px;
      color: #010101;
      outline: none;
      font-size: 20px;
      font-weight: 700; }
    footer .btnPrice {
      width: 94.5%;
      background-color: yellow; }
    footer img {
      margin-right: 30px;
      display: inline-block; }

  .navbar {
    margin-bottom: 0; }

  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px; }
    .navbar-header a {
      vertical-align: middle; }

  #menuTop {
    vertical-align: middle; }

  .flex_block {
    margin-left: 28px; }
    .flex_block button {
      background-color: #3498db;
      border-radius: 24px;
      padding: 5px;
      border: 0;
      width: 130px;
      height: 46px;
      margin-top: 10px;
      margin-bottom: 8px;
      color: white;
      outline: none;
      font-size: 19px;
      font-weight: normal; }

  .flex_block_1 {
    margin-right: 10px;
    margin-left: 10px; }
    .flex_block_1 button {
      background-color: yellow;
      border: 1px solid #c2c2c2;
      border-radius: 23px;
      margin-left: 20px;
      padding: 5px;
      width: 130px;
      height: 46px;
      margin-top: 10px;
      margin-bottom: 8px;
      color: #010101;
      outline: none;
      font-size: 19px;
      font-weight: normal; } }
@media (max-width: 768px) {
  .navbar-header img {
    margin-top: 10px; }

  .navbar-toggle {
    margin-top: 20px;
    vertical-align: middle;
    background-color: white;
    border: 3px solid #507299; }

  .icon-bar {
    background-color: #3498db; }

  #menuTop {
    margin-left: 10px;
    background-color: #f9f9f9; }
    #menuTop button {
      margin-bottom: 5px;
      width: 100%;
      border: 2px solid #507299;
      border-radius: 60px;
      position: relative;
      display: inline-block;
      padding: 10px;
      font-weight: 500;
      color: #3498db; }

  button {
    border: 0;
    margin: 0;
    padding: 0;
    background: 0; }

  .blockBanner {
    vertical-align: middle;
    background-image: url(../img/bg.png);
    background-size: cover; }
    .blockBanner h1 {
      font-weight: 700;
      margin-top: 60px;
      font-size: 48px;
      color: white;
      text-align: center; }
    .blockBanner h4 {
      font-size: 18px;
      font-weight: 500;
      margin-top: 50px;
      vertical-align: middle;
      color: white;
      text-align: center; }

  .progress {
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    height: 40px;
    border-radius: 50px; }

  .blockBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    vertical-align: middle;
    color: white;
    text-align: center; }

  .imgBox {
    display: inline-block; }

  .col-lg-6.pic-txt {
    text-align: center;
    display: inline-block; }
    .col-lg-6.pic-txt h4 {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      display: inline-block;
      width: 90%; }

  .blockPreupload h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    vertical-align: middle;
    color: black;
    text-align: center; }
  .blockPreupload h3 {
    padding-left: 17%;
    padding-right: 17%;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    text-align: center; }
  .blockPreupload h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    color: #333;
    text-align: left; }

  .flexGlyph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px; }
    .flexGlyph button {
      border: 3px solid white;
      border-radius: 100px;
      margin: 0;
      padding: 20px;
      background: 0; }

  .flexGlyph2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px; }
    .flexGlyph2 button {
      border: 3px solid #3498db;
      border-radius: 100px;
      margin: 0;
      padding: 20px;
      background: 0; }
    .flexGlyph2 span {
      color: #3498db; }

  .glyphicon {
    font-size: 25px;
    color: white; }

  .FYI {
    margin-bottom: 50px;
    padding-left: 15px;
    border: 2px solid white; }
    .FYI h3 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
      vertical-align: middle;
      color: white;
      text-align: left; }
    .FYI h5 {
      padding-right: 10px;
      font-size: 16px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 20px;
      vertical-align: middle;
      color: white;
      text-align: left; }
    .FYI li {
      list-style-type: none;
      font-size: 16px;
      font-weight: 400;
      vertical-align: middle;
      color: white;
      text-align: left; }
    .FYI ul {
      padding-left: 0; }

  .flex_rules {
    text-align: center;
    vertical-align: middle; }

  .row.warning h6 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    margin-left: 20px; }
  .row.warning h5 {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 400;
    vertical-align: middle;
    color: white;
    text-align: left; }
  .row.warning h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: 40px;
    vertical-align: middle;
    color: white;
    text-align: left; }

  .formUpload {
    padding-right: 6%;
    padding-left: 6%;
    background-color: #3498db; }
    .formUpload input {
      border: 2px solid #507299;
      border-radius: 60px;
      color: black;
      width: 100%;
      height: 40px;
      font-weight: bold;
      padding-left: 15px; }
      .formUpload input::-webkit-input-placeholder, .formUpload input::-moz-placeholder, .formUpload input:-moz-placeholder, .formUpload input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
        font-size: 10px; }
      .formUpload input:focus::-webkit-input-placeholder, .formUpload input:focus::-moz-placeholder, .formUpload input:focus:-moz-placeholder, .formUpload input:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease; }
    .formUpload p {
      margin-bottom: 10px;
      margin-top: 20px;
      width: 97px;
      height: 20px;
      color: white;
      font-size: 22px;
      font-weight: 500; }
    .formUpload button {
      margin-top: 40px;
      width: 100%;
      height: 40px;
      background-color: yellow;
      border-radius: 25px; }

  .blockCarouselle {
    vertical-align: middle;
    background: #3498db;
    background-size: cover; }
    .blockCarouselle h2 {
      font-size: 36px;
      font-weight: 700;
      margin-top: 50px;
      vertical-align: middle;
      color: white;
      text-align: center; }
    .blockCarouselle h4 {
      font-size: 20px;
      font-weight: 500;
      margin-top: 30px;
      vertical-align: middle;
      color: white;
      text-align: left; }

  .blockOpportunities {
    vertical-align: middle;
    background: #283140;
    background-size: cover; }
    .blockOpportunities h5 {
      padding-left: 10px;
      margin-top: 40px;
      vertical-align: top;
      display: inline-block;
      width: 68%;
      text-align: left;
      color: white;
      font-size: 18px;
      font-weight: 400; }
    .blockOpportunities h2 {
      margin-top: 50px;
      text-align: center;
      color: white;
      font-size: 36px;
      font-weight: 700; }
    .blockOpportunities .imgBox {
      margin-top: 30px;
      display: inline-block;
      text-align: center;
      vertical-align: center; }

  .blockFeatures {
    background: #f9f9f9;
    background-size: cover; }
    .blockFeatures img {
      margin-left: 10px;
      margin-top: 40px;
      display: inline-block;
      float: left; }
    .blockFeatures h2 {
      margin-top: 50px;
      text-align: center;
      color: black;
      font-size: 36px;
      font-weight: 700; }
    .blockFeatures h4 {
      margin-top: 50px;
      vertical-align: top;
      padding-left: 30px;
      display: inline-block;
      width: 60%;
      text-align: left;
      color: black;
      font-size: 18px;
      font-weight: 400; }

  .blockAutomation {
    vertical-align: middle;
    background-image: url(../img/bg-image.png);
    background-size: cover; }
    .blockAutomation h2 {
      margin-top: 90px;
      margin-bottom: 90px;
      text-align: center;
      color: white;
      font-size: 36px;
      font-weight: 700; }

  .blockHowto h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: 700; }
  .blockHowto h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400; }

  .blockHowtoPic {
    text-align: center; }

  .blockGreyForm {
    vertical-align: middle;
    background: #f9f9f9;
    background-size: cover; }

  footer {
    vertical-align: middle;
    background-color: #283140;
    background-size: cover; }
    footer h1 {
      margin-top: 50px;
      text-align: center;
      color: white;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 50px; }
    footer h2 {
      margin-top: 30px;
      text-align: center;
      color: white;
      font-size: 36px;
      font-weight: 700; }
    footer h3 {
      text-align: left;
      color: white;
      font-size: 30px;
      font-weight: 700; }
    footer h4 {
      display: inline-block;
      margin-top: 30px;
      text-align: left;
      color: white;
      font-size: 18px;
      font-weight: 400; }
    footer h5 {
      margin-bottom: 50px;
      text-align: left;
      color: white;
      font-size: 18px;
      font-weight: 500; }
    footer p {
      margin-top: 30px;
      text-align: left;
      color: white;
      font-size: 20px;
      font-weight: 700; }
    footer button {
      width: 100%;
      height: 50px;
      background-color: #D3D3D3;
      border: 1px solid #D3D3D3;
      border-radius: 50px;
      margin-right: 0;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 10px;
      color: #010101;
      outline: none;
      font-size: 16px;
      font-weight: 700; }
    footer img {
      margin-right: 30px;
      display: inline-block; } }
/*изменения */
.formEmailHint {
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: inherit;
  margin-top: 5px; }

/*# sourceMappingURL=blocke.css.map */
