@font-face
    font-family: "HelveticaNeueCyr"
    src: url('../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.eot')
    src: url('../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.svg')
    src: url('../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.ttf')
    src: url('../fonts/font-family/HelveticaNeue-Regular/HelveticaNeue.woff')

@font-face
    font-family: "HelveticaNeueCyr-Roman"
    src: url('../fonts/font-family/HelveticaNeueCyr-Roman.otf')

*
    margin: 0
    padding: 0
    position: relative

[id^='button']
    outline: none


@media (min-width: 768px)
    hr
        margin-top: 0
        color: white
    button
        border: 0
        margin: 0
        padding: 0
        background: 0
    .test
        margin-top: 70px
        margin-bottom: 70px
        background: white
        height: 50px
        border-radius: 50px
    .imgBox
        display: inline-block
    .row.blockPreupload
        h2
            padding-left: 25%
            padding-right: 25%
            font-size: 46px
            font-weight: 700
            margin-top: 100px
            margin-bottom: 100px
            vertical-align: middle
            color: black
            text-align: center
        h3
            padding-left: 17%
            padding-right: 17%
            font-size: 36px
            font-weight: 700
            margin-top: 100px
            margin-bottom: 100px
            color: black
            text-align: center
        h4
            display: inline-block
            font-size: 18px
            font-weight: 500
            margin-top: 0
            margin-bottom: 0
            vertical-align: middle
            color: #333
            text-align: left
    .col-lg-6.pic-txt
        .imgBox
            margin-bottom: 30px
        h4
            margin-bottom: 20px
            margin-top: 20px
            padding-left: 15px
            text-align: justify
            display: inline-block
            width: 80%
    .flexGlyph
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 72px
        margin-top: 130px
        button
            border: 3px solid white
            border-radius: 60px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0
    .flexGlyph2
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 100px
        margin-top: 100px
        button
            border: 3px solid #3498db
            border-radius: 60px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0
        span
            color: #3498db
    .glyphicon
        font-size: 25px
        color: white
    .FYI
        margin-bottom: 50px
        padding-left: 30px
        border: 2px solid white
        vertical-align: middle
        color: white
        text-align: left
        h3
            margin-left: 0
            font-size: 30px
            font-weight: 700
            margin-top: 20px
            margin-bottom: 20px
        h5
            font-size: 18px
            font-weight: 400
            margin-top: 20px
            margin-bottom: 20px
        li
            list-style-type: none
            font-size: 16px
            font-weight: 400
            vertical-align: middle
            color: white
            text-align: left
        ul
            padding-left: 0
    .flex_rules
        text-align: center
        padding-left: 0
        padding-right: 0
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
    .better
        margin-bottom: 40px
        vertical-align: middle
        color: white
        text-align: left
        h3
            margin-left: 0
            font-size: 30px
            font-weight: 700
            margin-top: 20px
            margin-bottom: 20px
    .row.warning
        h6
            font-size: 14px
            font-weight: 400
            margin-top: 30px
            margin-bottom: 50px
            vertical-align: middle
            color: white
            text-align: center
        h5
            display: inline-block
            font-size: 18px
            font-weight: 400
            vertical-align: middle
            margin-bottom: 50px
            color: white
            text-align: left
        h2
            display: inline-block
            font-size: 34px
            font-weight: 700
            margin-top: 0
            margin-bottom: 50px
            margin-right: 40px
            vertical-align: middle
            color: white
            text-align: left
    .formUpload
        padding-right: 6%
        padding-left: 6%
        background-color: #3498db
        input
            color: black
            width: 100%
            height: 50px
            font-size: 10px
            font-weight: bold
            padding-left: 30px
            &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
                opacity: 1
                transition: opacity 0.3s ease
                font-size: 10px
            &:focus
                &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
                    opacity: 0
                    transition: opacity 0.3s ease
        p
            margin-bottom: 15px
            margin-top: 36px
            width: 97px
            height: 20px
            color: white
            font-size: 22px
            font-weight: 500
        button
            margin-top: 71px
            width: 100%
            height: 50px
            background-color: yellow
            border-radius: 25px
    .blockCarouselle
        vertical-align: middle
        background: #3498db
        background-size: cover
        color: white
        h2
            font-size: 48px
            font-weight: 700
            margin-top: 100px
            text-align: center
        h4
            font-size: 24px
            font-weight: 500
            margin-top: 50px
            text-align: left
    .blockOpportunities
        vertical-align: middle
        background: #283140
        background-size: cover
        color: white
        h5
            vertical-align: top
            margin-top: 100px
            padding-left: 40px
            display: inline-block
            width: 80%
            text-align: left
            font-size: 24px
            font-weight: 400
        h2
            margin-top: 100px
            text-align: center
            font-size: 48px
            font-weight: 700
        .imgBox
            vertical-align: top
            margin-top: 100px
    .blockFeatures
        background: #f9f9f9
        background-size: cover
        img
            margin-left: 10px
            margin-top: 100px
            display: inline-block
            float: left
        h2
            margin-top: 100px
            text-align: center
            color: black
            font-size: 48px
            font-weight: 700
        h4
            margin-top: 100px
            vertical-align: top
            padding-left: 30px
            display: inline-block
            width: 60%
            text-align: left
            color: black
            font-size: 18px
            font-weight: 400
    .blockAutomation
        vertical-align: middle
        background-image: url(../img/bg-image.png)
        background-size: cover
        h2
            margin-top: 260px
            margin-bottom: 260px
            text-align: center
            color: white
            font-size: 48px
            font-weight: 700
    .blockHowto
        h2
            margin-top: 100px
            margin-bottom: 100px
            text-align: center
            color: black
            font-size: 48px
            font-weight: 700
        h4
            margin-top: 60px
            text-align: center
            color: black
            font-size: 24px
            font-weight: 400
    .blockHowtoPic
        text-align: center
    .blockGreyForm
        vertical-align: middle
        background: #f9f9f9
        background-size: cover
    footer
        vertical-align: middle
        background-color: #283140
        background-size: cover
        h1
            margin-top: 100px
            text-align: center
            color: white
            font-size: 48px
            font-weight: 700
            margin-bottom: 100px
        h2
            margin-top: 50px
            text-align: center
            color: white
            font-size: 48px
            font-weight: 700
            margin-bottom: -10px
        h3
            text-align: left
            color: white
            font-size: 48px
            font-weight: 700
        h4
            display: inline-block
            margin-top: 50px
            text-align: left
            color: white
            font-size: 24px
            font-weight: 400
        h5
            margin-bottom: 100px
            text-align: left
            color: white
            font-size: 18px
            font-weight: 700
        p
            margin-top: 30px
            text-align: left
            color: white
            font-size: 30px
            font-weight: 400
        button
            width: 45%
            text-decoration: none
            height: 50px
            background-color: #D3D3D3
            border: 1px solid #D3D3D3
            border-radius: 50px
            margin-right: 0
            margin-left: 20px
            padding: 10px
            margin-top: 0
            margin-bottom: 20px
            color: #010101
            outline: none
            font-size: 20px
            font-weight: 700
        .btnPrice
            width: 94.5%
            background-color: yellow
        img
            margin-right: 30px
            display: inline-block
    .navbar
        margin-bottom: 0
    .navbar-header
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 20px
        margin-top: 20px
        a
            vertical-align: middle
    #menuTop
        vertical-align: middle
    .flex_block
        button
            background-color: #3498db
            border-radius: 24px
            padding: 5px
            border: 0
            width: 130px
            height: 46px
            margin-top: 10px
            margin-bottom: 8px
            color: white
            outline: none
            font-size: 19px
            font-weight: normal
        margin-left: 28px
    .flex_block_1
        button
            background-color: yellow
            border: 1px solid #c2c2c2
            border-radius: 23px
            margin-left: 20px
            padding: 5px
            width: 130px
            height: 46px
            margin-top: 10px
            margin-bottom: 8px
            color: #010101
            outline: none
            font-size: 19px
            font-weight: normal
        margin-right: 10px
        margin-left: 10px

@media (max-width: 768px)
    .navbar-header img
        margin-top: 10px
    .navbar-toggle
        margin-top: 20px
        vertical-align: middle
        background-color: white
        border: 3px solid #507299
    .icon-bar
        background-color: #3498db
    #menuTop
        margin-left: 10px
        background-color: #f9f9f9
        button
            margin-bottom: 5px
            width: 100%
            border: 2px solid #507299
            border-radius: 60px
            position: relative
            display: inline-block
            padding: 10px
            font-weight: 500
            color: #3498db
    button
        border: 0
        margin: 0
        padding: 0
        background: 0
    .test
        margin-top: 50px
        margin-bottom: 50px
        background: white
        height: 40px
        border-radius: 50px
    .imgBox
        display: inline-block
    .col-lg-6.pic-txt
        h4
            margin-top: 20px
            margin-bottom: 20px
            text-align: center
            display: inline-block
            width: 90%
        text-align: center
        display: inline-block
    .blockPreupload
        h2
            font-size: 30px
            font-weight: 700
            margin-top: 50px
            margin-bottom: 50px
            vertical-align: middle
            color: black
            text-align: center
        h3
            padding-left: 17%
            padding-right: 17%
            font-size: 30px
            font-weight: 700
            margin-top: 50px
            margin-bottom: 50px
            color: black
            text-align: center
        h4
            display: inline-block
            font-size: 18px
            font-weight: 500
            margin-top: 0
            margin-bottom: 0
            vertical-align: middle
            color: #333
            text-align: left
    .better
        margin-bottom: 30px
        vertical-align: middle
        color: white
        text-align: left
        h3
            margin-left: 0
            font-size: 20px
            font-weight: 700
            margin-top: 20px
            margin-bottom: 20px
    .flexGlyph
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 50px
        margin-top: 50px
        button
            border: 3px solid white
            border-radius: 100px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0
    .flexGlyph2
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 50px
        margin-top: 50px
        button
            border: 3px solid #3498db
            border-radius: 100px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0
        span
            color: #3498db
    .glyphicon
        font-size: 25px
        color: white
    .FYI
        margin-bottom: 50px
        padding-left: 15px
        border: 2px solid white
        h3
            font-size: 30px
            font-weight: 700
            margin-top: 20px
            margin-bottom: 20px
            vertical-align: middle
            color: white
            text-align: left
        h5
            padding-right: 10px
            font-size: 16px
            font-weight: 400
            margin-top: 20px
            margin-bottom: 20px
            vertical-align: middle
            color: white
            text-align: left
        li
            list-style-type: none
            font-size: 16px
            font-weight: 400
            vertical-align: middle
            color: white
            text-align: left
        ul
            padding-left: 0
    .flex_rules
        text-align: center
        vertical-align: middle
    .row.warning
        h6
            font-size: 14px
            font-weight: 400
            margin-top: 30px
            margin-bottom: 20px
            color: white
            text-align: left
            margin-left: 20px
        h5
            display: inline-block
            font-size: 18px
            margin-bottom: 50px
            font-weight: 400
            vertical-align: middle
            color: white
            text-align: left
        h2
            display: inline-block
            font-size: 34px
            font-weight: 700
            margin-top: 0
            margin-bottom: 50px
            margin-right: 40px
            vertical-align: middle
            color: white
            text-align: left
    .formUpload
        padding-right: 6%
        padding-left: 6%
        background-color: #3498db
        input
            border: 2px solid #507299
            border-radius: 60px
            color: black
            width: 100%
            height: 40px
            font-weight: bold
            padding-left: 15px
            &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
                opacity: 1
                transition: opacity 0.3s ease
                font-size: 10px
            &:focus
                &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
                    opacity: 0
                    transition: opacity 0.3s ease
        p
            margin-bottom: 10px
            margin-top: 20px
            width: 97px
            height: 20px
            color: white
            font-size: 22px
            font-weight: 500
        button
            margin-top: 40px
            width: 100%
            height: 40px
            background-color: yellow
            border-radius: 25px
    .blockCarouselle
        vertical-align: middle
        background: #3498db
        background-size: cover
        h2
            font-size: 36px
            font-weight: 700
            margin-top: 50px
            vertical-align: middle
            color: white
            text-align: center
        h4
            font-size: 20px
            font-weight: 500
            margin-top: 30px
            vertical-align: middle
            color: white
            text-align: left
    .blockOpportunities
        vertical-align: middle
        background: #283140
        background-size: cover
        h5
            padding-left: 10px
            margin-top: 40px
            vertical-align: top
            display: inline-block
            width: 68%
            text-align: left
            color: white
            font-size: 18px
            font-weight: 400
        h2
            margin-top: 50px
            text-align: center
            color: white
            font-size: 36px
            font-weight: 700
        .imgBox
            margin-top: 30px
            display: inline-block
            text-align: center
            vertical-align: center
    .blockFeatures
        background: #f9f9f9
        background-size: cover
        img
            margin-left: 10px
            margin-top: 40px
            display: inline-block
            float: left
        h2
            margin-top: 50px
            text-align: center
            color: black
            font-size: 36px
            font-weight: 700
        h4
            margin-top: 50px
            vertical-align: top
            padding-left: 30px
            display: inline-block
            width: 60%
            text-align: left
            color: black
            font-size: 18px
            font-weight: 400
    .blockAutomation
        vertical-align: middle
        background-image: url(../img/bg-image.png)
        background-size: cover
        h2
            margin-top: 90px
            margin-bottom: 90px
            text-align: center
            color: white
            font-size: 36px
            font-weight: 700
    .blockHowto
        h2
            margin-top: 50px
            margin-bottom: 50px
            text-align: center
            color: black
            font-size: 36px
            font-weight: 700
        h4
            margin-top: 30px
            margin-bottom: 20px
            text-align: center
            color: black
            font-size: 18px
            font-weight: 400
    .blockHowtoPic
        text-align: center
    .blockGreyForm
        vertical-align: middle
        background: #f9f9f9
        background-size: cover
    footer
        vertical-align: middle
        background-color: #283140
        background-size: cover
        h1
            margin-top: 50px
            text-align: center
            color: white
            font-size: 36px
            font-weight: 700
            margin-bottom: 50px
        h2
            margin-top: 30px
            text-align: center
            color: white
            font-size: 36px
            font-weight: 700
        h3
            text-align: left
            color: white
            font-size: 30px
            font-weight: 700
        h4
            display: inline-block
            margin-top: 30px
            text-align: left
            color: white
            font-size: 18px
            font-weight: 400
        h5
            margin-bottom: 50px
            text-align: left
            color: white
            font-size: 18px
            font-weight: 500
        p
            margin-top: 30px
            text-align: left
            color: white
            font-size: 20px
            font-weight: 700
        button
            width: 100%
            height: 50px
            background-color: #D3D3D3
            border: 1px solid #D3D3D3
            border-radius: 50px
            margin-right: 0
            padding: 10px
            margin-top: 0
            margin-bottom: 10px
            color: #010101
            outline: none
            font-size: 16px
            font-weight: 700
        img
            margin-right: 30px
            display: inline-block
    #vbg
        display: none
    .banner
        padding: 5% 10%
        background: url("../img/bg.png")
        vertical-align: middle
        background-size: cover
        h1
            font-weight: 700
            margin-top: 60px
            font-size: 48px
            color: white
            text-align: center
        h4
            font-size: 18px
            font-weight: 500
            margin-top: 50px
            vertical-align: middle
            color: white
            text-align: center
        h2
            font-size: 30px
            font-weight: 700
            margin-top: 50px
            margin-bottom: 50px
            color: white
            text-align: center

.formEmailHint
    color: white
    font-size: 12px
    font-weight: 500
    padding: inherit
    margin-top: 5px

.slider
    height: 100%
    text-align: -webkit-center
    overflow-x: hidden

.carousel-container
    position: relative

#carousel
    height: 600px
    max-width: 1000px
    position: relative
    margin-bottom: 0.5em
    font-size: 12px
    font-family: Arial

.carousel-image
    border: 0
    display: block

.carousel-feature
    position: absolute
    /*top:-1000px;
    /*left:-1000px;
    cursor: pointer
    .carousel-caption
        position: absolute
        bottom: 0
        width: 100%
        p
            margin: 0
            padding: 15px
            font-weight: bold
            font-size: 16px
            color: white

.tracker-summation-container
    position: absolute
    color: white
    right: 48px
    top: 230px
    padding: 3px
    margin: 3px
    background-color: #000

.tracker-individual-container
    position: absolute
    color: white
    right: 43%
    top: 95%
    padding: 0
    margin: 0
    li
        list-style: none
    .tracker-individual-blip
        margin: 0 3px
        padding: 3px 6px
        color: white
        border-radius: 50%
        text-align: center
        background-color: white
    .tracker-individual-blip-selected
        color: black
        font-weight: bold
        background-color: black

@media (min-width: 1666px)
    .banner
        margin: 0 auto
        color: white
        text-align: center
        background-size: 100% auto
        padding-left: 20%
        padding-right: 20%
        padding-top: 10%
        padding-bottom: 5%
        h1
            font-weight: 700
            font-size: 72px
        h2
            font-size: 46px
            font-weight: 500
            margin-top: 50px
        h4
            font-size: 24px
            font-weight: 500
            margin-top: 100px
        #vbg
            z-index: -1
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
    #vbg
        height: 100%

@media (min-width: 1368px) and (max-width: 1665px)
    .banner
        margin: 0 auto
        color: white
        padding: 5% 20%
        text-align: center
        background-size: 100% auto
        h1
            font-weight: 700
            font-size: 66px
        h2
            font-size: 40px
            font-weight: 500
            margin-top: 50px
        h4
            font-size: 24px
            font-weight: 500
            margin-top: 10%
        #vbg
            z-index: -1
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
    .flexGlyph
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 72px
        margin-top: 9%
        button
            border: 3px solid white
            border-radius: 60px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0

@media (min-width: 1200px) and (max-width: 1367px)
    .banner
        margin: 0 auto
        color: white
        padding-top: 5%
        padding-bottom: 5%
        text-align: center
        background-size: 100% auto
        h1
            font-weight: 700
            font-size: 52px
        h2
            font-size: 36px
            font-weight: 500
            margin-top: 50px
        h4
            font-size: 21px
            font-weight: 500
            margin-top: 50px
        #vbg
            z-index: -1
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0

@media (min-width: 992px) and (max-width: 1200px)
    .banner
        margin: 0 auto
        color: white
        padding-top: 5%
        padding-bottom: 5%
        text-align: center
        background-size: 100% auto
        h1
            font-weight: 700
            font-size: 52px
        h2
            font-size: 36px
            font-weight: 500
            margin-top: 50px
        h4
            font-size: 21px
            font-weight: 500
            margin-top: 50px
        #vbg
            z-index: -1
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
    .flexGlyph
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 72px
        margin-top: 6%
        button
            border: 3px solid white
            border-radius: 60px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0

@media (min-width: 769px) and (max-width: 992px)
    .banner
        margin: 0 auto
        color: white
        padding-top: 2%
        padding-bottom: 5%
        padding-left: 5%
        padding-right: 5%
        text-align: center
        background-size: 100% auto
        h1
            font-weight: 700
            font-size: 42px
        h2
            font-size: 30px
            font-weight: 500
            margin-top: 4%
        h4
            font-size: 18px
            font-weight: 500
            margin-top: 4%
        #vbg
            z-index: -1
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
    .flexGlyph
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-bottom: 72px
        margin-top: 4%
        button
            border: 3px solid white
            border-radius: 60px
            margin: 0
            padding: 18px 20px 18px 20px
            background: 0
    .row.blockPreupload
        h2
            padding-left: 25%
            padding-right: 25%
            font-size: 42px
            font-weight: 700
            margin-top: 70px
            margin-bottom: 100px
            vertical-align: middle
            color: black
            text-align: center